@import "~/../node_modules/bootstrap/scss/_functions";

@import "~/../node_modules/bootstrap/scss/_variables";

main {
  margin-top: 70px;
}

a.nav-link {
  color: $white!important;
}

a.nav-link:hover, a.nav-link:focus {
  color: darken($white, 15%)!important;
}

a.nav-link.active {
  color: theme-color("primary")!important;
}

.dropdown-links a:hover {
  color: theme-color("primary");
}
