<div class="container">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h1 class="card-title">Create a Proposal</h1>
          <form (ngSubmit)="createProposal(proposal)" #proposalForm="ngForm">
            <div class="form-group">
              <label for="client">Client Name:</label>
              <input type="text"
                     class="form-control"
                     name="client"
                     id="client"
                     required
                     #client="ngModel"
                     [(ngModel)]="proposal.client" />
              <div [hidden]="client.valid || client.pristine">
                <ngb-alert [dismissible]="false" type="danger">
                  Client Name is required
                </ngb-alert>
              </div>
            </div>
            <div class="form-group">
              <label for="portfolio_url">Portfolio URL:</label>
              <input type="text"
                     class="form-control"
                     name="portfolio_url"
                     id="portfolio_url"
                     required
                     #portfolio_url="ngModel"
                     [(ngModel)]="proposal.portfolio_url" />
              <div [hidden]="portfolio_url.valid || portfolio_url.pristine">
                <ngb-alert [dismissible]="false" type="danger">
                  Portfolio URL is required
                </ngb-alert>
              </div>
            </div>
            <div class="form-group">
              <label for="tools">Tools:</label>
              <input type="text"
                     class="form-control"
                     name="tools"
                     id="tools" required
                     #tools="ngModel"
                     [(ngModel)]="proposal.tools" />
              <div [hidden]="tools.valid || tools.pristine">
                <ngb-alert [dismissible]="false" type="danger">
                  A list of Tools is required
                </ngb-alert>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="estimated_hours">Estimated Hours:</label>
                <input type="number"
                       class="form-control"
                       name="estimated_hours"
                       id="estimated_hours"
                       required
                       #estimated_hours="ngModel"
                       [(ngModel)]="proposal.estimated_hours" />
              </div>
              <div class="form-group col-md-4">
                <label for="weeks_to_complete">Weeks to Complete:</label>
                <input type="number"
                       class="form-control"
                       name="weeks_to_complete"
                       id="weeks_to_complete"
                       required
                       #weeks_to_complete="ngModel"
                       [(ngModel)]="proposal.weeks_to_complete" />
              </div>
              <div class="form-group col-md-4">
                <label for="hourly_rate">Hourly Rate:</label>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="number"
                         class="form-control"
                         name="hourly_rate"
                         id="hourly_rate"
                         required
                         #hourly_rate="ngModel"
                         [(ngModel)]="proposal.hourly_rate"
                         aria-label="Amount in US dollars" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <div [hidden]="estimated_hours.valid || estimated_hours.pristine">
                  <ngb-alert [dismissible]="false" type="danger">
                    Estimated Hours is required
                  </ngb-alert>
                </div>
                <div [hidden]="weeks_to_complete.valid || weeks_to_complete.pristine">
                  <ngb-alert [dismissible]="false" type="danger">
                    Estimated Weeks to Complete is required
                  </ngb-alert>
                </div>
                <div [hidden]="hourly_rate.valid || hourly_rate.pristine">
                  <ngb-alert [dismissible]="false" type="danger">
                    Hourly Rate is required
                  </ngb-alert>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="client_email">Client Email:</label>
              <input type="email"
                     class="form-control"
                     name="client_email"
                     id="client_email"
                     required
                     #client_email="ngModel"
                     [(ngModel)]="proposal.client_email" />
              <div [hidden]="client_email.valid || client_email.pristine">
                <ngb-alert [dismissible]="false" type="danger">
                  Client Email is required
                </ngb-alert>
              </div>
            </div>
            <button type="submit"
                    class="btn btn-outline-primary mb-3"
                    [disabled]="!proposalForm.form.valid"
                    [hidden]="submitted">
              Create Proposal
            </button>
          </form>
        </div>
        <div class="col-md-6">
          <p class="card-text">Hi {{ proposal.client }},</p>

          <p class="card-text">It was a pleasure getting to meet with you and review your project requirements. I believe it is a great fit for the types of applications that I build out. Please feel free to check out some of my past projects <a href="{{ proposal.portfolio_url }}">here</a>.</p>

          <p class="card-text">To successfully build out the application I will be utilizing {{ proposal.tools }}, and a number of other tools to ensure that the project follows industry-wide best practices.</p>

          <p class="card-text">Ensuring that you are fully informed is one of my top priorities, so in addition to incorporating everything that we discussed, I wil also be creating a project management dashboard and sending you a project update message daily so that you can have a transparent view of the development as it takes place.</p>

          <p class="card-text">To accomplish the project and meet the requirements that we discussed, I am estimating that it will take {{ proposal.estimated_hours }} hours in development time to complete. The project should take {{ proposal.weeks_to_complete }} weeks to complete and with my hourly rate of {{ proposal.hourly_rate | currency:'USD':true:'.0' }}, the estimated total will be {{ proposal.hourly_rate * proposal.estimated_hours | currency:'USD':true:'.0' }}.</p>

          <p class="card-text">The next step from here is to set up a meeting to finalize the project and sign contracts.</p>

          <p class="card-text">I am excited to work with you and build out this project!</p>
        </div>
      </div>
    </div>
  </div>
</div>
